.atom-card {
  background: #fff;
  box-shadow: 0 30px 60px 0 rgba(90, 116, 148, 0.4);
  border-radius: 10px;
  padding: 35px;
  padding-top: 35px;
  padding-top: 180px;
  max-width: 570px;
  width: 100%;
}