.InteractiveCreditCardNumber {
  padding: 5px 10px;
  width: calc(100% - 80px);
  margin-top: 25px;
  margin-bottom: 25px;
  p {
    font-size: 27px;
    margin: 0;
  }
  .slide-fade-up-enter {
    transform: translateY(15px);
    pointer-events: none;
    opacity: 0;
  }

  .slide-fade-up-enter-active {
    transition: all 0.25s ease-in-out;
    transition-delay: 0.1s;
    transform: translateY(0px);
    position: relative;
    opacity: 1;
  }

  .slide-fade-up-enter-done {
    transform: translateY(0px);
    opacity: 1;
  }

  .slide-fade-up-exit {
    transform: translateY(0px);
    pointer-events: none;
    opacity: 1;
  }

  .slide-fade-up-exit-active {
    transition: all 250ms ease-in-out;
    transform: translateY(-15px);
    position: relative;
    opacity: 0;
  }

  .slide-fade-up-exit-done {
    opacity: 0;
  }
}
