.CreditCardInformationFormOrganism {
  display: flex;
  .atom-card{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    .cardNumberWrapper{
      width: 100%;
      margin-bottom: 20px;
      input{
        width: 100%;
      }
    }
    .cardHolderWrapper{
      width: 100%;
      margin-bottom: 20px;
      input{
        width: 100%;
      }
    }
    .cardExpirationWrapper{
      width: 55%;
      margin-bottom: 20px;
    }
    .cardCvvWrapper{
      width: 45%;
      margin-bottom: 20px;
      display: flex;
      input, .InputAtom, .InputGroupMolecule{
        max-width: 150px;
      }
      .InputGroupMolecule{
        margin-left: auto;
      }
    }
    Label{
      font-weight: 500;
      color: #1a3b5d;
      font-size: 14px;
      opacity: 1;
    }
  }

  button{
    color: white;
    width: 100%;
    height: 50px;
    background-color: #0055d4;
    font-size: 18px;
    border: 0px;
    border-radius: 5px;
    cursor: pointer;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  button:hover{
    background-color: #0055b5;
  }

  button:disabled,
  button[disabled]{
    border: 1px solid #447aca;
    background-color: #447aca;
    color: #aaaaaa;
  }
}